:host {
    height: 92%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.car {
    display: flex;
    flex-direction: column;
    background-color: rgba(29, 29, 29, 0.301);
    height: 60%;
    width: 32%;
    padding: 1vw;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    column-gap: 1vw;
    row-gap: 1vw;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 2%;
    margin-right: 3%;
}

.about {
    color: aliceblue;
    font-size: 1.5vh;
    line-height: 1.55vh;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2vh;
}

.car:hover {
    background-color: rgba(160, 255, 136, 0.527);
}

.selected {
    background-color: rgba(113, 255, 78, 0.527);
}

.car-properties {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgb(117, 112, 112);
    border-bottom: 2px solid rgb(117, 112, 112);
    font-size: 2vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.car-properties > div {
    display: flex;
    align-items: center;
}

.car-name {
    font-size: 2.5vh;
}

.properties-ed {
    color: rgb(117, 112, 112);
}

.car-price {
    font-size: 2.5vh;
    text-align: right;
}