<div class="flex-container">
    <div [class.selected]="isSelected(car)" (click)="clickCar(car)" class="car" *ngFor="let car of carlist">
        <img
            src="./assets/ui_auto.png"
        />

        <div class="about">
            <div class="car-name">
                {{car.name}}
            </div>

            <div class="car-properties">
                <div>
                    <div>{{car.maxSpeed}}&nbsp;</div>
                        
                    <div class="properties-ed">
                        КМ/Ч
                    </div>
                </div>

                <div>
                    {{car.seats}}&nbsp;
                    <mat-icon class="properties-ed" fontIcon="person"></mat-icon>
                </div>

                <div>
                    {{car.trunkWeight}}&nbsp;
                    <span class="properties-ed">
                        КГ
                    </span>
                </div>
            </div>

            <div class="car-price">
                {{car.price | number}} $
            </div>
        </div>
    </div>
</div>

