:host {
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5%;
}

.search {
    background-color: rgb(175, 175, 175);
    border: 4px outset #8a8a8a;
    height: 50%;
    width: 25%;
    font-size: 2vh;
}

.exit {
    border: 4px outset #922e2e;
    height: 50%;
    background: rgb(160, 34, 34);
    aspect-ratio: 1 / 1;
    margin-right: 1%;
}

