:host {
    height: 16%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5%;
}

.search {
    display: flex;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #4e4e4ecb;
    height: 35%;
    width: 45%;
    font-size: 2vh;
    color: white;
    align-items: center;
}

.search > input {
    height: 100%;
    width: 90%;
    border: 0;
    background: transparent;
    outline: 0;
    font-size: 2vh;
    color: white;
}

.search > input:focus {
    outline: 0
}


.exit {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.exit-icon {
    font-size: 3vh;
    height: 100%;
    aspect-ratio: 1 / 1;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.title {
    color: aliceblue;
    font-size: 2.5vh;
}